{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="{% static 'myglobal.css' %}" />
    <style></style>
  </head>
  <body>
    <div class="error-container">
      <h1>Oops! Page Not Found</h1>
      <p>The page you're looking for doesn't exist or has been moved.</p>
      <a href="{% url 'schema-swagger-ui' %}">Back to Home</a>
    </div>
  </body>
</html>
